<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>

    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container-fluid">
    <div class="row header-userList">
        <div class="col col-6">
            <h5>
                <td th:text="${admin.email}"></td>
            </h5>

        </div>
        <div class="col col-6" id="button-logout">
            <p><a href="/logout">Logout</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col col-2 left-panel">
            <br>
            <nav class="nav nav-pills flex-column">
                <a class="nav-link left-menu active" data-toggle="pill" href="#users-table">Admin</a><br>

                <a class="nav-link left-menu" th:href="'/userprofile'">User</a>
            </nav>
        </div>
        <div class="col col-10 right-panel">
            <h2 id="admin-panel"><strong>Admin panel</strong></h2><br>

            <!-- Nav pills -->
            <div class="container-fluid">
                <ul id="myTab" class="nav nav-pills" role="tablist">
                    <li class="nav-item ">
                        <a id="tab-users-table" class="nav-link active" data-toggle="pill" role="tab"
                           href="#users-table">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a id="tab-new-user" class="nav-link" data-toggle="pill" role="tab" href="#new-user">New
                            User</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div id="users-table" role="tabpanel" class="container-fluid tab-pane active"><br>

                        <table class="table">
                            <thead class="thead">
                            <tr class="container-fluid">
                                <!--<th id="message1" scope="col" th:utext="${message1}"></th>-->
                            </tr>
                            </thead>

                            <!--                        <table  class="table table-bordered">-->
                            <thead class="thead table-userList">
                            <tr>
                                <th>Id</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th></th>
                                <th></th>

                            </tr>
                            </thead>

                            <tbody class="table table-userList">

                            <th:block th:each="user: ${listContact}">
                                <tr>
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${user.firstName}"></td>
                                    <td th:text="${user.lastName}"></td>
                                    <td th:text="${user.age}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td th:text="${user.role}"></td>
                                    <td scope="col">
                                        <button type="button"
                                                class="btn btn-primary"
                                                id="button-edit"
                                                data-toggle="modal"
                                                data-target="#modalEdit"
                                                th:utext="Edit"
                                                th:attrappend="data-target=${user.id}">

                                        </button>
                                    </td>
                                    <!-- The Modal -->
                                    <div class="modal" id="modalEdit" th:attrappend="id=${user.id}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">

                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <h4 class="modal-title"
                                                        th:utext="'Edit user ' + ${user.lastName}"></h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;
                                                    </button>
                                                </div>

                                                <!-- Modal body -->
                                                <div class="modal-body">

                                                    <form th:action="'/admin/edit/' + ${user.id}" method="POST">

                                                        <div class="d-flex justify-content-center">
                                                            <div class="form-group col-sm-10 table-addUser">
                                                                <label for="userIdList"><strong>ID</strong></label>
                                                                <input th:placeholder="${user.id}" type="text"
                                                                       name="email" class="form-control"
                                                                       id="userIdL2ist"
                                                                       disabled>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex justify-content-center">
                                                            <div class="form-group col-sm-10 table-addUser">
                                                                <label><strong>Email</strong></label>
                                                                <input th:value="${user.email}" type="text" width=100px
                                                                       name="email" class="form-control"
                                                                >
                                                            </div>
                                                        </div>

                                                        <div class="d-flex justify-content-center">
                                                            <div class="form-group col-sm-10 table-addUser">
                                                                <label><strong>Last name</strong></label>
                                                                <input th:value="${user.lastName}" type="text"
                                                                       width=100px name="lastName" class="form-control"
                                                                >
                                                            </div>
                                                        </div>

                                                        <div class="d-flex justify-content-center">
                                                            <div class="form-group col-sm-10 table-addUser">
                                                                <label><strong>First name</strong></label>
                                                                <input th:value="${user.firstName}" type="text"
                                                                       width=100px name="firstName" class="form-control"
                                                                >
                                                            </div>
                                                        </div>
                                                        <div class="d-flex justify-content-center">
                                                            <div class="form-group col-sm-10 table-addUser">
                                                                <label><strong>Age</strong></label>
                                                                <input th:value="${user.age}" type="text"
                                                                       width=100px name="age" class="form-control"
                                                                >
                                                            </div>
                                                        </div>
                                                        <div class="d-flex justify-content-center">
                                                            <div class="form-group col-sm-10 table-addUser">
                                                                <label><strong>Password</strong></label>
                                                                <input type="text"
                                                                       width=100px name="password" class="form-control"
                                                                >
                                                            </div>
                                                        </div>

                                                        <div class="d-flex justify-content-center">
                                                            <div class="form-group col-sm-10 table-addUser">
                                                                <label for="userRolesList"><strong>Roles</strong></label>
                                                                <select class="form-control" id="userRolesList"
                                                                        name="roles" enctype="multipart/form-data"
                                                                        multiple>
                                                                    <option th:value="USER" selected>USER</option>
                                                                    <option th:value="ADMIN">ADMIN</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <!-- Modal footer -->
                                                        <div class="modal-footer">
                                                            <button id="button-close" type="button" class="btn"
                                                                    data-dismiss="modal">Закрыть
                                                            </button>
                                                            <button id="button-edit-user" type="submit" class="btn">Edit
                                                                user
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <td scope="col">
                                        <button type="button"
                                                class="btn btn-primary"
                                                id="button-delete"
                                                data-target="#modalDelete"
                                                data-toggle="modal"
                                                th:utext="Delete"
                                                th:attrappend="data-target=${user.id}">
                                        </button>
                                    </td>
                                    <!-- The Modal -->
                                    <div class="modal" id="modalDelete" th:attrappend="id=${user.id}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">

                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <h4 class="modal-title"
                                                        th:utext="'Delete user ' + ${user.lastName}"></h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;
                                                    </button>
                                                </div>

                                                <!-- Modal body -->
                                                <div class="modal-body">

                                                    <form th:action="'/admin/delete/' + ${user.id}" method="POST">

                                                        <div class="d-flex justify-content-center">
                                                            <div class="form-group col-sm-10 table-addUser">
                                                                <label for="userIdList"><strong>ID</strong></label>
                                                                <input th:placeholder="${user.id}" type="text"
                                                                       name="email" class="form-control" id="userIdList"
                                                                       disabled>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex justify-content-center">
                                                            <div class="form-group col-sm-10 table-addUser">
                                                                <label><strong>Email</strong></label>
                                                                <input th:value="${user.email}" type="text" width=100px
                                                                       name="email" class="form-control"
                                                                       id="userEmailList1">
                                                            </div>
                                                        </div>

                                                        <div class="d-flex justify-content-center">
                                                            <div class="form-group col-sm-10 table-addUser">
                                                                <label><strong>Last name</strong></label>
                                                                <input th:value="${user.lastName}" type="text"
                                                                       width=100px name="lastName" class="form-control"
                                                                       id="userNameList1">
                                                            </div>
                                                        </div>

                                                        <div class="d-flex justify-content-center">
                                                            <div class="form-group col-sm-10 table-addUser">
                                                                <label><strong>First name</strong></label>
                                                                <input th:value="${user.firstName}" type="text"
                                                                       width=100px name="firstName" class="form-control"
                                                                       id="a1ge">
                                                            </div>
                                                        </div>
                                                        <div class="d-flex justify-content-center">
                                                            <div class="form-group col-sm-10 table-addUser">
                                                                <label><strong>Age</strong></label>
                                                                <input th:value="${user.age}" type="text"
                                                                       width=100px name="age" class="form-control"
                                                                       id="userPasswordList1">
                                                            </div>
                                                        </div>
                                                        <div class="d-flex justify-content-center">
                                                            <div class="form-group col-sm-10 table-addUser">
                                                                <label><strong>Password</strong></label>
                                                                <input type="text"
                                                                       width=100px name="password" class="form-control"
                                                                       id="userPasswordLi2st">
                                                            </div>
                                                        </div>

                                                        <div class="d-flex justify-content-center">
                                                            <div class="form-group col-sm-10 table-addUser">
                                                                <label for="userRolesList"><strong>Roles</strong></label>
                                                                <select class="form-control" id="userRolesList1"
                                                                        name="roles" enctype="multipart/form-data"
                                                                        multiple>
                                                                    <option th:value="USER" selected>USER</option>
                                                                    <option th:value="ADMIN">ADMIN</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <!-- Modal footer -->
                                                        <div class="modal-footer">
                                                            <button id="button-close1" type="button" class="btn"
                                                                    data-dismiss="modal">Закрыть
                                                            </button>
                                                            <button id="button-edit-user1" type="submit" class="btn">
                                                                Delete user
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>

                    <!-- Tab panes -->
                    <div id="new-user" role="tabpanel" class="container-fluid tab-pane table-addUser">

                        <table class="container-fluid table">
                            <thead class="thead">
                            <tr>
                                <!--<th id="message2" class="message2" scope="col" th:utext="${message2}"></th>-->
                            </tr>
                            </thead>
                        </table>
                        <form class="form  table-addUser" th:action="'/admin/add'"
                              method="POST">

                            <div class="d-flex justify-content-center">
                                <div class="form-group col-sm-4">
                                    <label for="firstName"><strong>First Name</strong></label>
                                    <input placeholder="First Name" type="text" name="firstName" class="form-control"
                                           id="firstName" aria-describedby="userEmailHelp">
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <div class="form-group col-sm-4">
                                    <label for="lastName"><strong>Last Name</strong></label>
                                    <input placeholder="Last Name" type="text" name="lastName" class="form-control"
                                           id="lastName" aria-describedby="userNameHelp">
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <div class="form-group col-sm-4">
                                    <label for="age"><strong>Age</strong></label>
                                    <input placeholder="Age" type="text" name="age" class="form-control"
                                           id="age" aria-describedby="userPasswordHelp">
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <div class="form-group col-sm-4">
                                    <label for="email"><strong>Email</strong></label>
                                    <input placeholder="Email" type="text" name="email" class="form-control"
                                           id="email" aria-describedby="userPasswordHelp">
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <div class="form-group col-sm-4">
                                    <label for="password"><strong>Password</strong></label>
                                    <input placeholder="Password" type="text" name="password" class="form-control"
                                           id="password" aria-describedby="userPasswordHelp">
                                </div>
                            </div>


                            <div class="d-flex justify-content-center">
                                <div class="form-group col-sm-4">
                                    <label for="userRoles"><strong>Role</strong></label>
                                    <select name="roles" aria-describedby="userRolesHelp" class="form-control"
                                            id="userRoles" enctype="multipart/form-data" multiple>
                                        <option th:value="USER" selected>user</option>
                                        <option th:value="ADMIN">admin</option>
                                    </select>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" id="button-add">Add new user</button>
                                </div>
                            </div>

                        </form>
                    </div> <!-- end of container -->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>