<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>

    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>


<div class="container-fluid">
    <div class="row header-userList">
        <div class="col col-6">
            <h5>
                <td th:text="${user.email}"></td>
            </h5>
        </div>
        <div class="col col-6" id="button-logout">
            <a th:href="'/logout'" method="POST" >Logout</a>
        </div>
    </div>

    <div class="row">
        <div class="col col-2 left-panel">
            <br>
            <nav class="nav nav-pills flex-column">
                <a class="nav-link left-menu" th:href="'/'">Admin</a><br>

                <a class="nav-link left-menu active" th:href="'/userprofile'">User</a>
            </nav>
        </div>
        <div class="col col-10 right-panel">

            <h2 id="user-panel"><strong>User page</strong></h2><br>

            <table  class="table table-main">
                <thead class="thead">
                <tr>
                    <th id="message" scope="col" th:utext="${message}"></th>
                </tr>
                </thead>

                <!--                        <table  class="table table-bordered">-->
                <thead class="thead table-userList">
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
                </thead>

                <tbody class="table-striped table-hover">
                <tr >
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.age}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.role}"></td>
                </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>